name: Python CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"  # نسخه پایتون پروژه‌ت

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Lint
        run: |
          pip install flake8
          flake8 .

      - name: Run Tests
        run: |
          if [ -f pytest.ini ] || [ -d tests ]; then pip install pytest; pytest; fi

